venv/
__pycache__/
*.pyc
*.pyo
*.c
*.spec
dist/
data/
*.db
*.json.bak
打包/
message_server/messages.json
*.exe
*.zip
message_server/message_admin.html
.idea/
项目说明.txt
main.py
core/forest.py
core/sound.py
core/timer.py
ui/app.py
ui/forest_tab.py
ui/message_tab.py
ui/mini_timer.py
ui/stats_tab.py
ui/timer_tab.py
build/FocusForest/
build/FocusForestMessageServer/
message_server/build/compiled/build/
message_server/build/compiled/*.c
message_server/build/compiled/*.log
message_server/build/compiled/*.html
message_server/build/compiled/message_server.py