# === 通用排除 ===
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.c
*.spec
*.exe
*.zip
*.db
*.json.bak
.idea/

# === 源码排除（一刀切，最安全）===
*.py

# === 目录排除 ===
dist/
data/
build/
message_server/
requirements.txt
打包/
项目说明.txt